
CTAnalyzer.vcxproj.user
CTAnalyzer.vcxproj.filters
CTAnalyzer.vcxproj
glut32.dll
PhysX_64.dll
PhysXCommon_64.dll
PhysXCooking_64.dll
PhysXDevice64.dll
PhysXFoundation_64.dll
PhysXGpu_64.dll
imgui.ini
*.raw
/reconstruction256_dark
/reconstruction256_bright
/reconstruction256_mid
reconstruction256_bright=4/reconstruction256_bright.txt
reconstruction512_bright=0.5/reconstruction512_bright=0.5.txt
reconstruction512_bright=1/reconstruction512_bright=1.txt
